{% extends 'AppBundle:Component:base.html.twig' %}

{% block body %}
    <h1><strong> AQUI SERÁ O SELO </strong></h1>
    <h2>Tipo: {{ type }}</h2>
    <h2>Score: {{ score }}</h2>
    <h2>Badge Type: {{ badgeType }}</h2>
{% endblock %}